bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
*.sln.iml
*.user
*.db-shm
*.db-wal
**/appsettings.Development.json
/RetroManager_Frontend/

/RetroManager_Backend/node_modules/
/RetroManager_Backend/package.json
/RetroManager_Backend/package-lock.json

identifier.sqlite
